<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>HivePulse</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSCameraUsageDescription</key>
	<string>HivePulse uses the camera to scan QR codes on your hives.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>HivePulse uses your location to record where a hive is placed when you set it up.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>de</string>
		<string>es</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
</dict>
</plist>
